.CookiesPage {
  display: grid;
  place-items: center;
}

.category-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3px 5px 5px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  width: 250px ;
  height: 230px;
}

.category-recipes-img {
  max-width: 200px;
  max-height: 120px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
}

.category-subtitle {
  max-width: 230px;
}

.single-category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.category-servings-preparation {
  font-size: 0.75rem;
}

.category-servings-nomargin {
  margin: 3px 0;
}

.divisor {
  border-bottom: 0.5px dotted lightgray;
  margin-top: 3px;
}

.gif {
  width: 300px;
}