.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adsense2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-carousel {
  display: grid;
  place-items: center;
  gap: 16px;
}

h1 {
  color: #FF0403;
}

.Cards {
  display: flex;
  gap: 16px;
}