.RecipeDetailsPage {
  display: grid;
  place-items: center;
  margin-top: 220px;
}

.detailed-img {
  max-width: 700px;
  border-radius: 5px;
}

.title-img {
  display: grid;
  place-items: center;
}

.detailed-info {
  position: absolute;
  display: grid;
  place-items: left;
  max-width: 680px;
}

.detailed-info p {
  margin: 0 0 3px 5px;
}

h5 {
  text-align: left;
  margin: 10px;
}

p > span {
  color: red;
  font-weight: 700;
}

.edit-btn {
  width: 120px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

