.logo {
  width: 90px;
  height: 90px;
}

.mainnavbar-items {
  display: flex;
  justify-content: space-between;
}

.mainnavbar-links a {
  text-decoration: none;
}

.mainnavbar-links {
  list-style: none;
}

.list {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.search-group {
  display: flex;
  align-items: center;
}

.search-bar {
  height: 35px;
}

.search-btn {
  height: 35px;
  margin-right: 16px;
}

