.logo {
  width: 90px;
  height: 90px;
}

.mainnavbar-links a {
  text-decoration: none;
}

.mainnavbar-links {
  list-style: none;
  margin-right: 32px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainnavbar {
  margin-bottom: -10px;
}

.input {
  position: relative;
}

.search-list {
  position: absolute;
  z-index: 2;
  background-color: yellow;
}



