.logo {
  width: 90px;
  height: 90px;
}

#mysearchbarstyle {
  width: 270px;
  height: 35px;
}

#second-logo {
  display: none;
}

.mainnavbar-links a {
  text-decoration: none;
}

.mainnavbar-links {
  list-style: none;
  margin-right: 32px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* aqui */
.mainnavbar {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #FF0403;
}

.input {
  position: relative;
}

.search-list {
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 4px;
}

.search-result {
  background-color: #ff030314;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 0.75rem;
  height: 30px;
  width: 270px;
  padding-top: 6px;
  margin: 1px 0;
}

.search-result:hover {
  background-color: #ff030335;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 0.77rem;
  font-weight: bold;
  height: 30px;
  width: 300px;
  padding-top: 6px;
  margin: 1px 0;
}

@media screen and (max-width: 826px) {

  .logo {
    width: 75px;
    height: 75px;
  }

  .mainnavbar-links a {
    font-size: 0.85rem;
  }

  .mainnavbar-links {
    margin-right: 16px;
  }

  #second-logo {
    display: block;
  }

  #second-logo .mainnavbar-links {
    width: 35px;
  }

  .logo {
    display: none;
  }
}




